:root {
	/* Colors */
	--primary: hsl(47, 88%, 63%);
	--white: #fff;
	--black: #000;
	--grey: hsl(0, 0%, 50%);

	/* Font Family */
	--font-family: 'Figtree', sans-serif;

	/* Font Weight */
	--fw-semibold: 600;
	--fw-bold: 800;
}

/* Reset Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: var(--font-family);
	font-weight: var(--fw-semibold);
	font-size: 1.6rem;
	line-height: 1.4;
}

/* Page Styles */

.page {
	background-color: var(--primary);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 600px) {
	.page {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

/* Components Styles */

.card {
	background-color: var(--white);
	padding: 2rem;
	border: 1px solid var(--black);
	width: 40rem;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	transition: all 0.3s ease-in-out;
	box-shadow: 10px 10px var(--black);
}

.card:hover {
	box-shadow: 15px 15px var(--black);
	cursor: pointer;
}

.card:hover .card__title {
	color: var(--primary);
}

.card__media {
	width: 100%;
}

.card__image {
	width: 100%;
	border-radius: 10px;
}

.card__tag {
	font-weight: var(--fw-bold);
	background-color: var(--primary);
	padding: 0.75rem 1.3rem;
	border-radius: 5px;
	width: max-content;
}

.card__date {
	font-size: 1.5rem;
}

.card__title {
	font-size: 2.5rem;
	transition: all 0.3s ease-in-out;
}

.card__content {
	color: var(--grey);
	margin-bottom: 1rem;
}

.card__author {
	display: flex;
	align-items: center;
	gap: 1.3rem;
}

.card__author__image {
	height: 4rem;
	width: 4rem;
}

.card__author__name {
	font-weight: var(--fw-bold);
}
