---
import './../assets/globals.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{Astro.props.title}</title>
    <link rel="shortcut icon" href={import.meta.env.BASE_URL + "/favicon-32x32.png"} type="image/x-icon">
    <slot name="head" />
</head>
<body>
    <header>
        <slot name="header" />
    </header>
    <slot></slot>
</body>
</html>